.alert-alert {
  color: #fff;
  background-color: #e63757;
  border-color: #e63757;
}

.alert-notice {
  color: #fff;
  background-color: #39afd1;
  border-color: #39afd1;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #d2ddec;
}

label {
  display: block !important;
  margin-top: 10px;
}

.form-group.boolean {
  height: 100%;
}

.form-group.boolean .form-check {
  padding-left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.form-group.boolean .form-check .form-check-input,
.form-group.boolean .form-check .form-check-label {
  position: initial;
  margin-top: 0;
}

.form-group.boolean .form-check .form-check-label {
  margin-left: 5px;
}

.card {
  margin-bottom: 60px;
}

th .d-flex {
  white-space: nowrap;
}